<div class="container">
    <h1>ShootStache</h1>
    <section class="main-content">

            <input file-upload type="file" id="uploadImage" accept="image/*" name='file'>
            <!-- <input type="file" id="take-picture" accept="image/*"> -->
            <!-- <input type='file' id="take-picture" accept="image/*"/> -->
        </p>

        <h2>Votre Image : </h2>
        <button ng-click='vm.create(moustache)' onclick="Materialize.toast('Stachmou enregistrée', 4000)" class="btn waves-effect waves-light blue">enregistrer</button>
        <p>
            <!-- <img src="about:blank" alt="" id="show-picture" width="50px"> -->
            <img id="myImg" src="#" alt="your image" width="300px"/>
            <!-- <input file-upload type="file" placeholder="Image" id="uploadImage" name='file'> -->
        </p>
        <p id="error"></p>
    </section>
</div>
<script>
    $(function() {
        $(":file").change(function() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#myImg').attr('src', e.target.result);
    };
</script>
