<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img src="../assets/img/image_event.png">
            </div>
            <div class="card-content">
                <p>Poste ta plus belle moustache sur Fantachetic et si tu as la plus belle de toutes tu profiteras d'un an d'abonnement a
                    <a href="http://www.bigmoustache.com">bigmoustache.com</a>soit un abonnement de 12 mois à 10€/mois.</p>
            </div>
            <div class="card-action">
                <a href="#">CONCOURT DE "QUI A LA PLUS BELLE ?"</a>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img src="../assets/img/image_event.jpg">
            </div>
            <div class="card-content">
                <p>Affirme ta virilité en dressant ta belle moustache afin de lever des fonds.
                </p>
                <div class="card-action">
                    <a href="#">LEVES DES FONDS !!!</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img src="../assets/img/image_event2.jpg">
                <span class="card-title">QUI A LA PLUS LONGUE ?</span>
            </div>
            <div class="card-content">
                <p>Dévoile nous ta longueeeee moustache et gagne 1/6ème de Thermomix</p>
                <div class="card-action">
                    <a href="#">QUI A LA PLUS LONGUE ?</a>
                </div>
            </div>
        </div>
    </div>
</div>
