<div class="carousel" data-flickity='{ "wrapAround": true }'>
    <div class="carousel-cell">
        <div class="card">
            <div class="card-image">
                <img src="../assets/img/Ubuntu-Logo-2.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="card">
            <div class="card-image">
                <img src="../assets/img/Ubuntu-Logo-2.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <div class="carousel-cell">
        <div class="card">
            <div class="card-image">
                <img src="../assets/img/Ubuntu-Logo-2.jpg">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

<ng-map zoom="14" center="[40.71, -74.21]">
  <marker ng-repeat="p in vm.positions" position="{{p}}"></marker>
</ng-map>
